@model KampusTek.Entities.Rental

@{
    ViewData["Title"] = "Kiralama Detayı";
}

<h2>Kiralama Detayı</h2>

<ul class="list-group">
    <li class="list-group-item"><b>Kullanıcı:</b> @Model.User?.FirstName @Model.User?.LastName</li>
    <li class="list-group-item"><b>Bisiklet:</b> @Model.Bicycle?.BicycleCode</li>
    <li class="list-group-item"><b>Başlangıç İstasyonu:</b> @Model.StartStation?.Name</li>
    <li class="list-group-item"><b>Bitiş İstasyonu:</b> @Model.EndStation?.Name</li>
    <li class="list-group-item"><b>Başlangıç Zamanı:</b> @Model.StartTime</li>
    <li class="list-group-item"><b>Dönüş Zamanı:</b> @Model.ReturnTime</li>
</ul>

<div class="mt-3">
    @if (Model.ReturnTime == null)
    {
        <a asp-action="End" asp-route-id="@Model.Id" class="btn btn-success">Kiralamayı Tamamla</a>
    }
    <a asp-action="Index" class="btn btn-outline-secondary">Geri</a>
  </div>